<nav>
  <a [routerLink]="['/workGeyser']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">WORKERS</a>
  <a [routerLink]="['/plants']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">PLANTS</a>
  <a [routerLink]="['/company']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">COMPANY</a>
  <a [routerLink]="['/apis']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">APIS</a>
  <a [routerLink]="['/account']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">NEW ACCOUNT</a>
</nav>
